* {
    font-family: Helvetica, Arial, sans-serif;
  }

    body {
    background-color: rgba(0, 0, 0, 0.826);

    }

  h1 {
    color: rgb(224, 177, 25);
  }
  
  h2 {
    color: rgb(229, 76, 16);
  }
  
  h3 {
    color: rgb(246, 249, 252);

  }
  p, 
  li {
    font-size: 20px;
    color: rgb(78, 182, 69);
  }

  a {
    text-decoration: none;
    color: aqua;
  }